---
// src/pages/index.astro

// Import Component
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Product from '../components/Product.astro';
import Partner from '../components/Partner.astro';
import Location from '../components/Location.astro'; // <--- 1. Import Component Lokasi
import Footer from '../components/Footer.astro';

// Import CSS
import '../styles/global.css'; 
---

<html lang="id" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sapi Seto Pekalongan</title>
  </head>
  <body>
    
    <Navbar />

    <main>
      <Hero />
      <Product />
      <Partner />
      
      <Location />
    </main>

    <Footer />

  </body>
</html>